/* Global ============================== */
:root {
    --dark-blue: #363f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/* Titles ============================ */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);

    font-weight: normal;
}

/* Header ============================ */
header {
    background: #2D4A22;
    padding: 2rem 0 10rem;
    text-align: center;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* Balance =========================== */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: white;
    margin-top: 0;
}

/* Card ============================ */
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: .25rem;

    margin-bottom: 2rem;

    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background: #49AA26;
    color: white;
}

/* Table ============================ */
#data-table {
    
}


/* Footer ============================ */
footer {
    text-align: center;;
}